<%- include("./parciales/header") %>


	<!-- Content -->
	<div class="container container-web-page">
	    <h3 class="font-weight-bold poppins-regular text-uppercase">Detalles sobre su empanada</h3>
	    <hr>
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-12 col-lg-5">
	                <!--cover-->
	                <figure class="full-box">
	                    <img class="img-fluid" src="/assets/platillos/platillo.jpg" alt="platillo_">
	                </figure>

	                <!-- Galery -->
	                <h5 class="poppins-regular text-uppercase" style="padding-top: 70px;">Fotografias</h5>
	                <hr>
	                <div class="galery-details full-box">

	                    <!--cover-->
	                    <figure class="full-box">
	                        <a data-fslightbox="gallery" href="/assets/img/banner_3.jpg">
	                            <img class="img-fluid" src="/assets/img/banner_3.jpg" alt="platillo_">
	                        </a>
	                    </figure>

	                    <!--otras-->
	                    <figure class="full-box">
	                        <a data-fslightbox="gallery" href="/assets/img/banner_1.jpg">
	                            <img class="img-fluid" src="/assets/img/banner_1.jpg" alt="platillo_">
	                        </a>
	                    </figure>

	                    <figure class="full-box">
	                        <a data-fslightbox="gallery" href="/assets/img/banner_2.jpg">
	                            <img class="img-fluid" src="/assets/img/banner_2.jpg" alt="platillo_">
	                        </a>
	                    </figure>

	                </div>
	            </div>
	            <div class="col-12 col-lg-7">

	                <h4 class="font-weight-bold poppins-regular tittle-details">Empanada de pollo</h4>

	                <p class="text-justify lead" style="padding: 40px 0;">
	                    <span class="text-info lead font-weight-bold" style="color: rgb(15, 100, 100);">Descripción:</span>
						<br>
	                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis obcaecati, corporis nam ab officiis modi nesciunt iure repudiandae vel! Illum minus sapiente sunt quibusdam vero voluptate sequi eaque consectetur perferendis!
	                </p>

	                <p class="lead font-weight-bold">Precio: $25.00 USD</p>
					
	            </div>
	        </div>
	    </div>
	</div>

<%- include("./parciales/footer") %>